---

const { part , part_id ,part_title } = Astro.props;
---

<div id={part_id} class="part">
  <div id="part-title">
    <h3 class="tc1"> {part_title} </h3>
  </div>
  <div id="pages" class="grid">
    <!-- FIX ANY TYPE -->
    {part.map((sub_parts:any) => 
      <li id="page" class="flex low-gap">

        <p id="page-number" class="tc1">
          {sub_parts.frontmatter.number} -
        </p>

        <a href={sub_parts.url} class="tc4">
          {sub_parts.frontmatter.title}
        </a>

      </li>
    )}  
  </div>
</div>

<style>
  li{list-style:none;}
  .part{margin-top:1rem;}
  
  #part-title{margin-bottom:0px;}

  #pages{margin-right:1rem;}
  @media(max-width:480px){#pages{grid-template-columns:1fr;}}
  @media(min-width:480px){#pages{grid-template-columns:1fr 1fr;}}
  @media(min-width:768px){#pages{grid-template-columns:1fr 1fr 1fr;}}
  @media(min-width:1280px){#pages{grid-template-columns:1fr 1fr 1fr 1fr;}}

  #page{margin-top:4px;}
  #page a{text-decoration:none;transition:color 0.3s ease;}
  #page a:hover{color:#503c24;}

</style>