---

const 
{
   part_title
   , part_id 
   ,part_url
} = Astro.props;

---

<div id={part_id} class="part">

  <div id="part-title">
    <h3 class="tc1"> {part_title} </h3>
  </div>
  
  <div id="sub_parts" class="grid">
    <!-- FIX ANY TYPE -->
    {part_url.map((sub_part:any) => 
      <li id="sub_part" class="flex low-gap">

        <p id="sub_part-number" class="tc1">
          {sub_part.frontmatter.number} -
        </p>

        <a href={sub_part.url} class="tc4">
          {sub_part.frontmatter.title}
        </a>

      </li>
    )}
  </div>
</div>

<style>
  li{list-style:none;}
  .part{margin-top:1rem;}
  
  #part-title{margin-bottom:0px;}

  #sub_parts{margin-right:1rem;}
  @media(max-width:480px){#sub_parts{grid-template-columns:1fr;}}
  @media(min-width:480px){#sub_parts{grid-template-columns:1fr 1fr;}}
  @media(min-width:768px){#sub_parts{grid-template-columns:1fr 1fr 1fr;}}
  @media(min-width:1280px){#sub_parts{grid-template-columns:1fr 1fr 1fr 1fr;}}

  #page{margin-top:4px;}
  #page a{text-decoration:none;transition:color 0.3s ease;}
  #page a:hover{color:#503c24;}

</style>