---

export interface Props {
	ic_title: string;
	ic_atitle: string;
	ic_img_url: string;
	ic_end_url: string;
}
const {
  ic_title
 , ic_atitle
 , ic_img_url
 , ic_end_url
} = Astro.props;
---
<div id="" class="flex flex-col jcontent-center aitems-center">
  <a href={ic_end_url} id="icon-card">
    <img src={ic_img_url} alt={`${ic_title}`} id={ic_title} class="">
    <div id="card-title" class="tc1">{ic_title}</div>
    <div id="card-alt-title" class="tc1">{ic_atitle}</div>
  </a>
</div>

<style>
  #icon-card{text-align:center;}
  #icon-card img{width:64px;}
  #icon-card{text-decoration:none;}
  #icon-card:hover{text-decoration:underline;}
</style>